.scale-up-leave {
    transform: scaleX(1);
    opacity: 1;
}

.scale-up-enter-active,
.scale-up-leave-active {
    transition: 0.5s;
}

.scale-up-leave-to {
    transform: scaleX(3);
    opacity: 0;
}

.scale-up-enter {
    opacity: 0;
}
.scale-up-enter-to {
    opacity: 1;
}

.scale-out-leave {
    opacity: 1;
}

.scale-out-enter-active{
    transition: 1s;
}
.scale-out-leave-active {
    transition: 0.5s;
}

.scale-out-leave-to {
    opacity: 0;
}

.scale-out-enter {
    transform: scaleX(5);
    opacity: 0;
}
.scale-out-enter-to {
    transform: scaleX(1);
    opacity: 1;
}
